@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM_Sans";
  src: url("/fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("/fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("/fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

/* 
  Hacking the layout to allow for full-width code
  <pre> blocks (wrapped in .code-extra divs) will be full width at smaller screen sizes.
  We control this by either adding or removing padding, then allow the max-width parent to do the rest
*/
.ykwc-post-layout main>*:not(.code-extra) {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 821px;
  margin-left: auto;
  margin-right: auto;
}

/* Export some of that width-responsive for use in the layout */
.ykwc-post-layout-col {
  width: 100%;
  max-width: 821px;
  margin-left: auto;
  margin-right: auto;
}

.ykwc-post-layout-pad {
  padding-left: 2rem;
  padding-right: 2rem;
}

/*
  Simple custom styles for inline code
*/

p>code {
  /* background-color: #fafafa; */
  padding: 0 4px;
  border-radius: 4px;
  font-size: .875em;
  font-weight: bold;
  color: #282828;
}

p>code::before {
  font-weight: bolder;
  content: "`";
}

p>code::after {
  font-weight: bolder;
  content: "`";
}

/* 
  Simple custom styles for block quotes
*/
blockquote {
  border: none;
}

blockquote>* {
  color: #5e646f;
  background: #fafafa;
  padding: 2rem 2rem;
  font-size: .875em;
  border-radius: .75rem;
}

blockquote>*::before {
  content: "“";
}

blockquote>*::after {
  content: "”";
}

/*
  Override for non-highlight.js pre/code elements (i.e. the containers)
  We bring some of the original styles provided by @tailwindcss/typography prose
  But we allow the styles chosen by the GitHub theme(s) below to overwrite
*/
pre {
  color: #5e646f;
  background: #fafafa;
  display: block;
  overflow-x: auto;
  padding: 3rem;
  padding-left: 3rem;
  font-weight: 400;
  font-size: .875em;
  line-height: 1.5;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

/* Ensure code-extra wrappers are always filling all of the H-space that they have */
.code-extra {
  width: 100%;
}

/* Content has wider X-padding as soon as the screen is slightly larger */
@media (min-width: theme('screens.sm')) {

  .ykwc-post-layout-pad,
  .ykwc-post-layout main>*:not(.code-extra) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Content has wider X-padding as soon as the screen is slightly larger */
@media (min-width: theme('screens.md')) {

  .ykwc-post-layout-pad,
  .ykwc-post-layout main>*:not(.code-extra) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/* Give the code-extra wrappers some padding & rounded to 'snap' them in at larger sizes */
@media (min-width: theme('screens.lg')) {

  .code-extra {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  pre {
    border-radius: .75rem;
  }
}

/* 
  HIGHLIGHT.JS THEMES
  From https://highlightjs.org/static/demo/ 
*/

/* 🌞 LIGHT THEME */

/*!
  Theme: Edge Light
  Author: cjayross (https://github.com/cjayross)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: #5e646f;
  background: #fafafa
}

.hljs ::selection,
.hljs::selection {
  background-color: #fdefd5;
}

.hljs-comment {
  color: #a8abb1
}

.hljs-tag {
  color: #6587bf
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #5e646f
}

.hljs-operator {
  opacity: .7
}

.hljs-attr,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-literal,
.hljs-name,
.hljs-number,
.hljs-selector-tag,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable,
.hljs-variable.constant_ {
  color: #db7070
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #d69822
}

.hljs-strong {
  font-weight: 700;
  color: #d69822
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #7c9f4b
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #509c93
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #6587bf
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #b870ce
}

.hljs-emphasis {
  color: #b870ce;
  font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #509c93
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700
}

/* 🌙 GITHUB DARK THEME */

/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Colors taken from GitHub's CSS
*/
/* .hljs {
  color: #adbac7;
  background: #22272e
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #f47067
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #dcbdfb
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #6cb6ff
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #96d0ff
}

.hljs-built_in,
.hljs-symbol {
  color: #f69d50
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #768390
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #8ddb8c
}

.hljs-subst {
  color: #adbac7
}

.hljs-section {
  color: #316dca;
  font-weight: 700
}

.hljs-bullet {
  color: #eac55f
}

.hljs-emphasis {
  color: #adbac7;
  font-style: italic
}

.hljs-strong {
  color: #adbac7;
  font-weight: 700
}

.hljs-addition {
  color: #b4f1b4;
  background-color: #1b4721
}

.hljs-deletion {
  color: #ffd8d3;
  background-color: #78191b
} */